:root {
  --primary-blue: #5773D3;
  --primary-dark-blue: #23397e;
  --primary-orange: #FE7547;
  --light-cream: #FFF3E3;
  --dark-text: #333;
  --light-text: #fff;
  --border-color: #e0e0e0;
  --icon-gray: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--dark-text);
  margin: 0;
  padding: 0;
}

h1, h3, p, span {
  margin: 0;
  padding: 0;
}
